<% include ./partials/header %>
<% include ./partials/sidebar %>
<div class="sidebar-item sidebar-header d-flex flex-nowrap" style="justify-content: center">
    <div class="user-info">
        <h2>Welcome</h2>
        <span style="margin-left: 25px" class="user-name"><%= admin.firstname %> <strong><%= admin.lastname%></strong>
        </span>
    </div>
</div>
<% include ./partials/footer %>