
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	 crossorigin="anonymous">
	<link rel="shortcut icon" href="/images/logodws.jpg">
	<title>Grobna mjesta</title>
</head>

<body>
	<nav class="navigacijski-meni">
<a href="/" class="nav-logo-link"><img src="/images/logodws.jpg" class="nav-logo"></a>

          
		<div class="dropdown">
		</div>

		<div class="dropdown">
			<a class="dropbtn" href="/">Početna</a>			
	  		</div>
		</div>

		<div class="dropdown">
			<a class="dropbtn" href="#">Vjerska pripadnost</a>
			<div class="dropdown-content">	   
				<a href="/vjera">Muslimani</a>
				<a href="#">Krščani/Hriščani</a>
				<a href="#">Pravoslavci</a>
				<a href="#">Ateisti</a>
				
	  		</div>
		</div>

		<div class="dropdown">
			<a class="dropbtn" href="/ostalo">Ostale usluge</a>

		</div>



	</nav>

	<main>
		<header>
			<img class="slider" src="images/pozadina.jpg">

			<h1 style="text-align: center; margin: 30px;">Rezervacije</h1>
            <h3 style="text-align: center">Cijene</h3>
            <div style="margin-top: 50px; display: flex; flex-direction: row; justify-content: center">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
            
            <h2 style="text-align: center; margin-top: 50px;">Broj slobodnih mjesta: neki broj</h2>
            <form style="margin: 90px">
                <div class="form-group">
                    <label for="ime">Ime</label>
                    <input type="text" class="form-control" id="ime" aria-describedby="imeHelp" placeholder="Ime preminulog">
                </div>
                <div class="form-group">
                    <label for="prezime">Prezime</label>
                    <input type="text" class="form-control" id="prezime" placeholder="Prezime preminulog">
                </div>
                <div class="form-group">
                    <label for="">Datum rodjenja</label>
                    <input type="date" class="form-control" name="datumRodjenja">
                </div>
                <div class="form-group">
                    <label for="">Datum smrti</label>
                    <input type="date" class="form-control" name="datumSmrti">
                </div>
                <div class="form-group">
                    <label for="">Datum uplate</label>
                    <input type="date" class="form-control" name="datumUplate">
                </div>
                <div class="form-group">
                    <label for="">Vjera</label>
                    <select name="vjera" id="vjera" class="form-control">‚
                        <option value="Islam">Islam</option>
                        <option value="krscanstvo">Krscanstvo</option>
                        <option value="pravoslavci">Pravoslavci</option>
                        <option value="ateisti">Ateisti</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Iznos</label>
                    <input type="number" class="form-control" name="iznos" id="" placeholder="Iznos km">
                </div>
                <button type="submit" class="btn btn-primary">Uplati</button>
            </form>
		</header>
	</main>
	<hr>
		<footer>
			<p class="tekst-desno">All rights reserved by EmbodimenTeam®
				<a href="https://www.instagram.com" target="_blank"><img class="drustvene-mreze" src="images/instagram.png"></a>
				<a href="https://www.facebook.com" target="_blank"><img class="drustvene-mreze" src="images/facebook-logo.png"></a>
				
			</p>
		</footer>
		</hr>
</body>
</html>