<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
	<link rel="shortcut icon" href="/slika.jpg">
  <link rel="shortcut icon" href="/images/logodws.jpg">
	<title>Ostale usluge</title>
	</head>

<body>
  <header class="header" id="pocetak">
        <nav class="navigacijski-meni" id="screen1">
          <a href="/" class="nav-logo-link"><img src="/images/logodws.jpg" class="nav-logo"></a>
          <a href="/">Početna</a>
          <a href="/onama">O nama</a>
          <a href="/places">Grobna mjesta</a>
          
          <input type="text" name="search" placeholder="Search..." style="padding: 5px; border: 1px solid rgb(162, 94, 92);">
        </nav>

      </header>

  <main>
    <header>
      <img class="slider" src="images/pozadina.jpg">
    </header>

    <article class="clanak">
     <a href="#"><h2>Dženaze</h2></a>
  	
  	 <p>
      	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia dolor condimentum vehicula tincidunt.
          Nulla vel sem sit amet velit tempus pretium eget et est. Sed maximus vestibulum vulputate. Praesent sed justo ac
          dui ullamcorper volutpat. Fusce molestie elit eu convallis vulputate. Duis ac congue nunc, id consectetur urna.
          Phasellus condimentum malesuada tortor eget ultricies. Donec sit amet nisi ut ante consequat semper sed id neque.
          Donec ipsum felis, commodo ac diam id, aliquam tristique risus. Aenean in tellus sed dui tristique vestibulum. In
          a maximus nunc. Nulla et dictum orci, vel fringilla tortor. Mauris a dictum velit, nec imperdiet ante.
    	</p>
    </article>

    <article  class="clanak">
      <a href="#"><h2>Sahrane</h2></a>
      
        <p>      
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia dolor condimentum vehicula tincidunt.
          Nulla vel sem sit amet velit tempus pretium eget et est. Sed maximus vestibulum vulputate. Praesent sed justo ac
          dui ullamcorper volutpat. Fusce molestie elit eu convallis vulputate. Duis ac congue nunc, id consectetur urna.
          Phasellus condimentum malesuada tortor eget ultricies. Donec sit amet nisi ut ante consequat semper sed id neque.
          Donec ipsum felis, commodo ac diam id, aliquam tristique risus. Aenean in tellus sed dui tristique vestibulum. In
          a maximus nunc. Nulla et dictum orci, vel fringilla tortor. Mauris a dictum velit, nec imperdiet ante.
        </p>
      </div>
    </article>
    
  	<article  class="clanak">
      <a href="#"><h2>Tevhidi</h2></a>
      	<p>
      	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia dolor condimentum vehicula tincidunt.
          Nulla vel sem sit amet velit tempus pretium eget et est. Sed maximus vestibulum vulputate. Praesent sed justo ac
          dui ullamcorper volutpat. Fusce molestie elit eu convallis vulputate. Duis ac congue nunc, id consectetur urna.
          Phasellus condimentum malesuada tortor eget ultricies. Donec sit amet nisi ut ante consequat semper sed id neque.
          Donec ipsum felis, commodo ac diam id, aliquam tristique risus. Aenean in tellus sed dui tristique vestibulum. In
          a maximus nunc. Nulla et dictum orci, vel fringilla tortor. Mauris a dictum velit, nec imperdiet ante.
      	
        </p>
      </article>

      <article class="clanak">
        <a href="#"><h2>Ostali obredi</h2></a>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia dolor condimentum vehicula tincidunt.
          Nulla vel sem sit amet velit tempus pretium eget et est. Sed maximus vestibulum vulputate. Praesent sed justo ac
          dui ullamcorper volutpat. Fusce molestie elit eu convallis vulputate. Duis ac congue nunc, id consectetur urna.
          Phasellus condimentum malesuada tortor eget ultricies. Donec sit amet nisi ut ante consequat semper sed id neque.
          Donec ipsum felis, commodo ac diam id, aliquam tristique risus. Aenean in tellus sed dui tristique vestibulum. In
          a maximus nunc. Nulla et dictum orci, vel fringilla tortor. Mauris a dictum velit, nec imperdiet ante.
        </p>
      </article>

     

  </main>
  <hr>
  <footer>
    <a href="#pocetak"><img src="images/up-arrow.png" style="width: 20px; float:right;"></a>
			<p class="tekst-desno">All rights reserved by EmbodimenTeam®
				<a href="https://www.instagram.com" target="_blank"><img class="drustvene-mreze" src="images/instagram.png"></a>
				<a href="https://www.facebook.com" target="_blank"><img class="drustvene-mreze" src="images/facebook-logo.png"></a>
			</p>
		  </footer>
    
</body>
</html>