<!doctype html>
<html lang="en">
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/logodws.jpg"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/javascripts/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/javascripts/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/javascripts/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/javascripts/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="javascripts/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/javascripts/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	
	<div class="container-login100" style="background-image: url('images/pozadina.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form-reg">
				<span class="login100-form-title p-b-37">
					Sign Up
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter email">
					<input class="input100" type="text" name="firstName" id="firstName" placeholder="first name">
					<span class="focus-input100"></span>
				</div>


				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter email">
					<input class="input100" type="text" name="lastName" id="lastName" placeholder="last name">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter email">
					<input class="input100" type="email" name="email" id="email" placeholder="email" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<input class="input100" type="password" name="password" id="password" placeholder="password" required>
					<span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<input class="input100" type="password" name="passwordCheck" id="passwordCheck" placeholder="repeat password" required>
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button type="submit" class="login100-form-btn">
						Sign Up
					</button>
				</div>

				<div class="text-center p-t-57 p-b-20">
					<span class="txt1"></span>
				</div>

				<div class="text-center">
					<a href="/" class="txt2 hov1">
						Sign In</a> 
						</div>
			</form>
		</div>
	</div>
	
	<div id="dropDownSelect1"></div>
<!--===============================================================================================-->
	<script src="javascripts/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="javascripts/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="javascripts/vendor/bootstrap/js/popper.js"></script>
	<script src="javascripts/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="javascripts/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="javascripts/vendor/daterangepicker/moment.min.js"></script>
	<script src="javascripts/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="javascripts/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="javascripts/main.js"></script>

</body>
</html>