<!doctype html>
<html>

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logodws.jpg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <title>Embodiment</title>

</head>

<body onload="myFunction()">
<div id="page">
    <canvas id="canvas"></canvas>
    <header class="header">
        <nav class="navigacijski-meni" id="screen1">
            <ul class="nav-meni-ul">
                <li class="nav-li-logo"><a href="index" target="_blank" class="nav-logo-link"><img
                                src="images/logodws.jpg" class="nav-logo"></a></li>
                <li><a href="/">Početna</a></li>
                <li><a href="/places">Grobna mjesta</a></li>
                <li><a href="/ostalo">Ostale usluge</a></li>
                <li style="position: absolute; right: 0"><a href="/api/v1/logout">Log out</a></li>
            </ul>
        </nav>
        <div class="login-search">
            <a href="#" class="srch">
                <input type="text" name="search">
                <i class="fas fa-search"></i>
            </a>
            <a href="/login"><img src="images/batman.png" style="width:30px;"></a>
        </div>

        <input id="toggle" type="checkbox" />
        <label class="hamburger" for="toggle">
            <div class="top"></div>
            <div class="meat"></div>
            <div class="bottom"></div>
        </label>



        <div class="nav">
            <div class="nav-wrapper">
                <nav class="hamb-nav">
                    <li><a href="/">Početna</a></li>
                    <li><a href="/places">Grobna mjesta</a></li>
                    <li><a href="/ostale">Ostale usluge</a></li>
                    <li><a href="/api/v1/logout">Log out</a></li>
                </nav>
            </div>
        </div>

    </header>


    <main>
        <header>
            <div id="container" style="min-height: unset; background-color: white; height: unset;">
 <h1 style="text-align: center; margin: 60px;">Lista slobodnih mjesta</h1>
            </div>
        </header>
       
			<div style="margin: 50px;">
				<div class="card text-center grobnaMjestaKartice">
					<div class="card-body">
						<h5 class="card-title">Groblje 1</h5>
						<p class="card-text">Muslimani: 150</p>
					</div>
				</div>
				<div class="card text-center grobnaMjestaKartice">
					<div class="card-body">
						<h5 class="card-title">Groblje 2</h5>
						<p class="card-text">Muslimani: 150</p>
					</div>
				</div>
				<div class="card text-center grobnaMjestaKartice">
					<div class="card-body">
						<h5 class="card-title">Groblje 3</h5>
						<p class="card-text">Muslimani: 150</p>
					</div>
				</div>
			</div>

</div>
</main>
<hr>
<footer>
    <p class="tekst-desno">All rights reserved by EmbodimenTeam®
        <a href="https://www.instagram.com" target="_blank"><img class="drustvene-mreze" src="images/instagram.png"></a>
        <a href="https://www.facebook.com" target="_blank"><img class="drustvene-mreze" src="images/facebook-logo.png"></a>
    </p>
</footer>
</hr>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/javascripts/slider.js"></script>
</body>

</html>